.todo-container {
  max-width: 700px;
  margin: auto;
}

.main-container {
  margin: 0rem 1rem;
}

.form-container {
  border-radius: 8px;
  max-width: 700px;
  margin: auto;
  margin-top: 3rem;
}

body {
  background-color: #2c3444;
}

.todo-input {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 8px;
  width: 80%;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.todo-input:focus {
  background-color: #ecf0ed;
}

.new-todo-button {
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: fixed;
  /* width: 20%; */
  border: none;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.new-todo-button:hover {
  background-color: #409854;
}

.todo-item-container {
  background: #fff;
  border-radius: 5px;
  margin-top: 8px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.todo-content {
  display: flex;
  margin: -0.4rem 0;
}

.todo-content-box {
  margin-left: 1rem;
}

.todo-content-title {
  margin-left: 0.6rem;
}

.completed-button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: #22ee22;
}

.remove-content {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
}

.remove-button {
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: #ee4242;
  margin-left: 8px;
}

.task-heading {
  max-width: 700px;
  color: #ddd;
  margin: auto;
  text-align: left;
}

.todo-container .complete {
  text-align: left;
  color: #ddd;
}

.task-icon {
  width: 10rem;
}

.icon-container {
  text-align: center;
}
